openapi: 3.0.1
info:
  title: Gcore CDN WAAP API
  description: 'Partial OpenAPI description of the Gcore edge cloud platform REST API, covering representative documented endpoints across CDN, Cloud (compute), Object Storage, DNS, Streaming, Everywhere Inference (edge AI), WAAP security, and FastEdge. All services share a single host, https://api.gcore.com, and authenticate with a permanent API token sent as "Authorization: APIKey <token>".'
  termsOfService: https://gcore.com/legal/lsa
  contact:
    name: Gcore Support
    url: https://gcore.com/support
    email: support@gcore.com
  version: '1.0'
servers:
- url: https://api.gcore.com
  description: Gcore unified API host
security:
- APIKey: []
tags:
- name: WAAP
  description: Web Application and API Protection domains.
paths:
  /waap/v1/domains:
    get:
      operationId: listWaapDomains
      tags:
      - WAAP
      summary: List WAAP domains
      description: Returns domains protected by Web Application and API Protection.
      responses:
        '200':
          description: A list of WAAP domains.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/WaapDomain'
components:
  schemas:
    WaapDomain:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        status:
          type: string
        enabled:
          type: boolean
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Permanent API token sent as "Authorization: APIKey <token>". The header name is case-insensitive.'
