openapi: 3.0.1
info:
  title: Gcore CDN Inference API
  description: 'Partial OpenAPI description of the Gcore edge cloud platform REST API, covering representative documented endpoints across CDN, Cloud (compute), Object Storage, DNS, Streaming, Everywhere Inference (edge AI), WAAP security, and FastEdge. All services share a single host, https://api.gcore.com, and authenticate with a permanent API token sent as "Authorization: APIKey <token>".'
  termsOfService: https://gcore.com/legal/lsa
  contact:
    name: Gcore Support
    url: https://gcore.com/support
    email: support@gcore.com
  version: '1.0'
servers:
- url: https://api.gcore.com
  description: Gcore unified API host
security:
- APIKey: []
tags:
- name: Inference
  description: Everywhere Inference edge AI model deployments.
paths:
  /cloud/v3/inference/{project_id}/deployments:
    get:
      operationId: listInferenceDeployments
      tags:
      - Inference
      summary: List inference deployments
      description: Returns Everywhere Inference deployments for the project.
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: A list of inference deployments.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/InferenceDeployment'
    post:
      operationId: createInferenceDeployment
      tags:
      - Inference
      summary: Create inference deployment
      description: Deploys a containerized AI model to edge inference nodes. Set auth_enabled to true to generate an API key required as X-API-Key on the deployment endpoint.
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InferenceDeploymentCreate'
      responses:
        '200':
          description: The created inference deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferenceDeployment'
components:
  schemas:
    InferenceDeployment:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
        image:
          type: string
        listening_port:
          type: integer
        auth_enabled:
          type: boolean
        containers:
          type: array
          items:
            type: object
            additionalProperties: true
    InferenceDeploymentCreate:
      type: object
      required:
      - name
      - image
      - listening_port
      properties:
        name:
          type: string
        image:
          type: string
          description: Container image reference for the model.
        listening_port:
          type: integer
        flavor_name:
          type: string
          description: Compute flavor (e.g. GPU flavor) for the deployment.
        auth_enabled:
          type: boolean
          description: When true, generates an API key required as X-API-Key.
        containers:
          type: array
          items:
            type: object
            additionalProperties: true
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      schema:
        type: integer
      description: Cloud project identifier.
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Permanent API token sent as "Authorization: APIKey <token>". The header name is case-insensitive.'
