openapi: 3.0.1
info:
  title: Gcore CDN FastEdge API
  description: 'Partial OpenAPI description of the Gcore edge cloud platform REST API, covering representative documented endpoints across CDN, Cloud (compute), Object Storage, DNS, Streaming, Everywhere Inference (edge AI), WAAP security, and FastEdge. All services share a single host, https://api.gcore.com, and authenticate with a permanent API token sent as "Authorization: APIKey <token>".'
  termsOfService: https://gcore.com/legal/lsa
  contact:
    name: Gcore Support
    url: https://gcore.com/support
    email: support@gcore.com
  version: '1.0'
servers:
- url: https://api.gcore.com
  description: Gcore unified API host
security:
- APIKey: []
tags:
- name: FastEdge
  description: Serverless edge functions and applications.
paths:
  /fastedge/v1/apps:
    get:
      operationId: listFastEdgeApps
      tags:
      - FastEdge
      summary: List FastEdge apps
      description: Returns the WebAssembly edge applications for the account.
      responses:
        '200':
          description: A list of FastEdge apps.
          content:
            application/json:
              schema:
                type: object
                properties:
                  apps:
                    type: array
                    items:
                      $ref: '#/components/schemas/FastEdgeApp'
    post:
      operationId: createFastEdgeApp
      tags:
      - FastEdge
      summary: Create FastEdge app
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FastEdgeAppCreate'
      responses:
        '200':
          description: The created FastEdge app.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FastEdgeApp'
components:
  schemas:
    FastEdgeAppCreate:
      type: object
      required:
      - binary
      properties:
        name:
          type: string
        binary:
          type: integer
          description: Identifier of the compiled WASM binary to run.
        env:
          type: object
          additionalProperties:
            type: string
    FastEdgeApp:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        status:
          type: integer
        binary:
          type: integer
        url:
          type: string
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Permanent API token sent as "Authorization: APIKey <token>". The header name is case-insensitive.'
